* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  background: url(./assets/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style: none;
  background: darkgray;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  min-width: 100px;
  display: block;
  padding: 20px 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.navbar ul li ul.menuder li {
  display: block;
}

.navbar ul li ul.menuder {
  width: 100%;
  background: darkgray;
  position: absolute;
  z-index: 3;
  display: none;
}

.navbar ul li a:hover {
  background: rgb(88, 85, 85);
}

.navbar ul li:hover ul.menuder {
  display: block;
}

h1 {
  color: rgba(0, 0, 139, 0.603);
  margin: 40px auto;
  font-family: serif;
  font-size: 4rem;
  text-align: center;
}
#yearLabel {
  margin-left: 200px;
}

#year {
  border-radius: 10px;
  width: 100px;
  font-size: 2rem;
  background: rgba(169, 169, 169, 0.493);
  text-align: center;
}

h2 {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 10px 50px;
  padding: 0 0 0 20px;
  border-radius: 20px;
  font-size: 2rem;
  background: rgba(169, 169, 169, 0.856);
}

.save {
  background: rgba(169, 169, 169, 0.856);
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  border-radius: 20px;
}

.save:hover {
  cursor: pointer;
  background: rgb(88, 85, 85);
}

.calendar {
  display: flex;

  flex-direction: column;
  min-height: 500px;
  min-width: 900px;
}

.clicked {
  z-index: 1;
  background-color: rgba(180, 72, 72, 0.856) !important;
}

.grid div {
  background: rgba(169, 169, 169, 0.87);
  border-radius: 5px;
  text-align: center;
}

.grid {
  display: grid;
  max-width: 1000px;
  font-size: 1.5rem;
  gap: 5px;

  margin: 10px 50px 50px 50px;
  grid-template-columns: 70px repeat(7, 120px);
  grid-template-rows: 35px repeat(6, 60px);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.popup {
  display: none;
  position: fixed;
  z-index: 5;
  width: 740px;
  height: 760px;
  padding: 10px;
  top: 10%;
  right: 5%;
  border-radius: 20px;
  border: solid 3px black;
  box-shadow: black 0px 0px 14px 7px;
  font-size: 1.5rem;
  background-color: rgba(169, 169, 169, 1);
}
h3 {
  background-color: rgb(88, 85, 85);
  text-align: center;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  height: 50px;
  width: 500px;

  font-size: 1.4rem;
  border-radius: 20px;

  margin: 10px;
}

h4:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s;
}
span {
  font-size: 1rem;
}

.infoLocataires {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.nom,
.prenom {
  width: 240px;
}
.nom *,
.prenom * {
  width: 220px;
  height: 30px;
  margin: 5px;
}

.age {
  width: 70px;
}

.age * {
  width: 50px;
  height: 30px;
  margin: 5px;
}

.dateNaissance {
  width: 130px;
}

.dateNaissance * {
  width: 100px;
  height: 30px;
  margin: 5px;
}

.nbrPersonnes {
  width: 120px;
  height: 30px;
}

.nbrPersonnes * {
  width: 50px;
  height: 30px;
  margin-bottom: 20px;
}

span,
label {
  font-size: 1.5rem;
}

label {
  text-align: right;
  width: 150px;
}

#arrive,
#depart {
  width: 100px;
  height: 30px;
  margin: 5px;
}

input {
  background: rgba(238, 235, 235, 0.493);
  height: 30px;

  border-radius: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
}
.telmail {
  margin-top: 20px;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

#tel,
#email,
#immat,
#siblu {
  width: 160px;
}

.buttonsPop {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#enr,
#quit,
#supp,
#msg,
.fermer {
  border-radius: 20px;
  background: rgba(169, 169, 169, 0.856);
  font-size: 1.5rem;
  width: 150px;
  height: 50px;
  margin: 5px;
}

#enr:hover,
#quit:hover,
#supp:hover,
#msg:hover,
.fermer:hover {
  cursor: pointer;
  background: rgb(88, 85, 85);
}

.addClient {
  border-radius: 20px;
  background: rgba(169, 169, 169, 1);
  font-size: 1.5rem;
  width: 250px;
  height: 30px;
  margin: 5px;
}

.addClient:hover {
  cursor: pointer;
  background: rgb(88, 85, 85);
}

.entete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#color {
  height: 40px;
  margin-left: 150px;
  align-items: center;
}

.mars {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: row;
}

.demi {
  flex: 1;
  width: 50%;
  height: 35px;
  /* background-color: rgba(218, 86, 147, 0.856) !important; */
}
.popupAlert {
  display: none;
  position: fixed;
  z-index: 6;
  width: 400px;
  height: auto;
  text-align: center;
  padding: 10px;

  border-radius: 20px;
  border: solid 3px black;
  box-shadow: black 0px 0px 14px 7px;

  background-color: rgba(169, 169, 169, 1);
}

.message {
  margin: 20px;
  font-size: 1.4rem;
}
