* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  background: url(./assets/img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style: none;
  background: darkgray;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  min-width: 100px;
  display: block;
  padding: 20px 25px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.navbar ul li ul.menuder li {
  display: block;
}

.navbar ul li ul.menuder {
  width: 100%;
  background: darkgray;
  position: absolute;
  z-index: 999;
  display: none;
}

.navbar ul li a:hover {
  background: rgb(88, 85, 85);
}

.navbar ul li:hover ul.menuder {
  display: block;
}

h1 {
  color: rgba(0, 0, 139, 0.603);
  margin: 40px auto;
  font-family: serif;
  font-size: 4rem;
  text-align: center;
}

.choose-year label {
  font-size: 2rem;
  text-align: center;
}

.choose-year input {
  width: 100px;
  font-size: 2rem;
  background: rgba(169, 169, 169, 0.493);
  text-align: center;
}

.choose-year {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 30px;
}

h2 {
  margin: 30px auto 10px 50px;
  padding: 0 0 0 20px;
  border-radius: 10px;
  font-size: 2rem;
  background: rgba(169, 169, 169, 0.856);
}

.calendar {
  display: flex;

  flex-direction: column;
  min-height: 500px;
  min-width: 900px;
}

.clicked {
  z-index: 1;
  background-color: rgba(180, 72, 72, 0.856) !important;
}

.grid div {
  background: rgba(169, 169, 169, 0.87);
  border-radius: 5px;
  text-align: center;

  padding: 5px;
}

.grid {
  display: grid;

  font-size: 1.5rem;
  gap: 5px;

  margin: 10px 50px 50px 50px;
  grid-template-columns: 70px repeat(7, 120px);
  grid-template-rows: 35px repeat(6, 60px);
}
